.container {
	background-color: lightblue;
	font-family: 'MuseoSlabHeavy',Arial,sans-serif;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	background-color: grey !important;
}

.main-search, .tt-query, .tt-hint {
	float: left;
	border: none;
	border-top: 1px solid #11ae96;
	border-left: 1px solid #11ae96;
	border-bottom: 2px solid #11ae96;
	color: #333;
	background: #fff;
	height: 34px;
	width: 444px;
	padding-left: 8px;
	padding-top: 4px;
	padding-top: 6px\9;
	font-family: 'ScalaSansWeb';
	line-height: 20px;
	font-size: 18px;
	z-index: 1;
}

#btn-search {
	display: inline-block !important;
}

#search-results #search-results-content {
	display: inline-block !important;
}

.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}